*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
nav{
    width: 1585px;
    height: 90px;
    line-height: 100px;
    position: sticky;
    background-image: linear-gradient(#033747,#abb0af);   
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(119, 6, 125);
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 60px;
  font-size: 30px;
  text-align: center;
  margin:30px;
}

.logo{
    float: left;
    color: white;
    font-size: 6rem;
    font-weight: bold;
    display: inline-flex;
    
}	
ul,li{
    float: right;
    color: white;
    display: inline-flex;
    margin: 5px;


}
h2{
    color:#e03602;
    text-align: center;
}
h3{
    font-size: 2rem;
    color: #033747;

}
h4{
    font-size: 2rem;
    color: #f54284;
}
.grid-foot {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(116, 224, 251);
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 60px;
  font-size: 30px;
  text-align: center;
  margin:30px;
}